@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  position: fixed;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.349);
}
header .logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-left: 20px;
}

.menu {
  font-family: "Bebas Neue", sans-serif;
}
.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.2rem;
}
.menu ul li:hover {
  border-bottom: 2px solid green;
  cursor: pointer;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.slider .title {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 99;
  width: 40%;
}
.slider .title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
}
.slider .title p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: white;
}

.slides {
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; /* Start hidden */
  transition: opacity 2s ease-in-out; /* Fade transition */
}

.slide.active {
  opacity: 1; /* Show active slide */
}

.slide img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover; /* Cover the entire area */
}

.main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 100%;
  min-height: 100vh;
}

.new-posts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

}
.new-posts .new {
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.315);
  position: relative;
  font-size: small;
}

.new-posts .new .like-comment{
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  gap: 10px;
}
.new-posts .new .like i , .new-posts .new .comment i{
  background-color: white;
  border-radius: 50px;
  font-size: x-large;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.new-posts .new .like i:hover , .new-posts .new .comment i:hover{
  font-size: 1.7rem;
}
.new-posts .new .like .liked{
  background-color: green;
  color: white;
}
.new-posts .right-news {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-posts .right-news #new2 {
  width: 100%;
  height: 150px;
  background-image: url(/assets/p222.jpg);
  background-position: center;
  background-size: cover;
}
.new-posts .right-news #new3 {
  width: 100%;
  height: 150px;
  background-image: url(/assets/p3.jpg);
  background-position:center;
  background-size: cover;
}
.new-posts #new1 {
  float: left;
  width: 43%;
  height: 308px;
  background-image: url(/assets/p1.jpg);
  background-size: cover;
}
.new-posts .new::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.new-posts #new4, .new-posts #new5, .new-posts #new6 {
  width: 30%;
  height: 200px;
}/*# sourceMappingURL=styles.css.map */

.new-posts #new4{
  background-image: url(/assets/p44.jpg);
  background-size: cover;
  background-position: top;
}
.new-posts #new5{
  background-image: url(/assets/p33.jpg);
  background-size: cover;
  background-position: top;
}
.new-posts #new6{
  background-image: url(/assets/p66.jpg);
  background-size: cover;
  background-position: top;
}

#postList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  margin-top: 100px;
  background-image: url(/assets/p66.jpg);
  background-position: center;
  background-size: cover;
}

.post {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.315);
  border-radius: 20px;
  width: 80%;
  height: 150px;
  padding: 10px;
  background-color: white;
}

#pagination {
  margin-top: 30px;
  text-align: center;
}

.page-link {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #b36500;
}

.comment {
  position: relative;
  z-index: 99;
}

.comment-box {
  padding: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.315);
  border-radius: 10px;

  background-color: #f9f9f9;
  position: absolute;
  top: -110px; 
  left: -300%;
  width: 200px; 
}

textarea {
  width: 100%;
  height: 60px; 
  border: none;
  padding: 5px;
  outline: none;
  border-radius: 10px;
}
textarea:focus{
border: 1px solid green;}

.save-comment{
  background-color: green;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: auto 0;
 color: white;
}

footer{
  width: 100%;
  height: fit-content;
  background-color: rgb(58, 54, 54);
  position: absolute;
  text-align: center;
  padding: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 530%;

}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.subscription-box, .quick-links, .social-media {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  gap: 20px;
}

.quick-links h3{
  text-decoration: underline;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.subscription-box form {
  display: flex;
  margin-top: 20px;
  margin-left: 70px;
  
  
}

.subscription-box input[type="email"] {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
}

.subscription-box button {
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin: 5px 0;
}

.quick-links a {
  color: white;
  text-decoration: none;
}

.quick-links a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.icons a {
  margin: 5px;
}

.icons i{
  font-size: xx-large;
  color: green;

}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: white;
}

@media (max-width: 600px) {
  
  .footer-container {
      flex-direction: column;
      gap: 50px;
  }
}