// ------ font import ----------
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


$font:"Bebas Neue", sans-serif;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.349);
    .logo{
        font-family: "Bebas Neue", sans-serif;
        font-size: 3rem;
        margin-left: 20px;
    }
}

.menu{
    font-family: "Bebas Neue", sans-serif;
    ul{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 1.2rem;
        li:hover{
            border-bottom: 2px solid brown;
            cursor: pointer;
        }
    }

}

// .relation-ways{
//     display: flex;
//     gap: 20px;

//     .static-style{
//     font-size: xx-large;
//     }
//     .static-style:hover{
//         font-size: 30px;
//         cursor: pointer;
//     }

// }

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .title{
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 99;
        width: 40%;
         h1{
            font-family: $font;
            font-size: 5rem;
        }
        p{
            @include post-font();
            font-size:1rem;
            color: white;

        }
    }
   
}

.slides {
    // position: absolute;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Start hidden */
    transition: opacity 2s ease-in-out; /* Fade transition */
    
}

.slide.active {
    opacity: 1; /* Show active slide */
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Cover the entire area */
    
}
.main{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 100%;
}

.new-posts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    .new{
        position: relative;
        padding: 20px;
        border-radius: 20px;
        .like{
            display: flex;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
    .right-news{
        width: 48%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        #new2{
            width: 100%;
            height: 150px;
            border: 1px solid black;
            background-image: url(/assets/p2.jpg) !important;
        }
        #new3{
            width: 100%;
            height: 150px;
            border: 1px solid black;

        }
    }
    #new1{
        width: 43%;
        height: 308px;
        border: 1px solid black;
        background-position: bottom;
        background-size: cover;
    }
    // #new1::after{
    //     background:linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) ;
    // }
   
    #new4, #new5, #new6{
        width: 30%;
        height: 200px;
        border: 1px solid black;
    }
}


